# Ignore everything in rawdata, except README and cell spec sheet
rawdata/*
!rawdata/*.md
!rawdata/*.pdf

# Ignore xlsx in data/[temp]/[discharge]/.
data/*/*/*.xlsx

# Jupyter things
.ipynb_checkpoints